<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/proyecto.css">

</head>

<body>
    <div class="fondo3">
        <div class="container-fluid ">
            <div class="encabezado">
                    <form class="form-inline ">
                            <a class="btn btn-secondary btn-sm ml-auto " href="/principal"> Volver </a>
                          </form>
                    <div class="row">

                            <div class="col-3">
                                <h1 class="centrar"> BEAUTY WEB </h1>
                            </div>
                            <div class="col-3">
                                <img src="../IMG/labioslogo.png" widht="50" height="50">
                            </div>
        
                        </div>

                <h1 class="centrar"><em>Belleza Web y su inicio</em> </h1>
                <p class="centrar">
                    <strong> Gracias a todas por estar siempre.</strong>
                </p>
            </div>
            <div class="row justify-content-center">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header"><em>BELLEZA WEB</em> </div>
                    <div class="card-body">
                        <h5 class="card-title">¿En qué consiste?</h5>
                        <p class="card-text">Belleza Web, como se puede deducir de su nombre, es una pequeña y
                            sofisticada
                            página web creada con la intención de que las mujeres tengan un lugar dónde encuentren todos
                            los tipos de servicios que necesiten enfocados en la belleza. Tenemos los tres más
                            importantes,
                            que son MakeUp, Cabello y Manicure. Podrán encontrar una lista de cada uno de ellos, dónde y
                            quién
                            los realiza para que tengan mayor información y se podrán contactar con el profesional.
                        </p>
                    </div>

                </div>
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header"><em>BELLEZA WEB</em></div>
                    <div class="card-body">
                        <h5 class="card-title">¿Cómo se creó?</h5>
                        <p class="card-text">Este sitio parte de un proyecto realizado para una asignatura,por tres
                            chicas
                            estudiantes de 3°año, con el objetivo de crear algo que fuera creativo, novedoso y útil.
                            Así en conjunto , salió al aire esta idea,un buscador de belleza, que contenga
                            información sobre distintos tipos de servicios de belleza en la ciudad de Temuco,

                            Un solo sitio en el cual podemos comparar precios, ver que se ofrece para cada oficio y
                            contactar.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
