<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Iniciar Sesión</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="../CSS/proyecto.css" />
</head>

<body>
    <div class="fondoPrincipal">
        <div class="container-fluid ">
            <div class="encabezado">

                <h1 class="centrar">¡Hola, Bienvenidas!</h1>
                <p class="centrar">
                    Aquí podrás registrarte para poder navegar de forma libre por nuestra plataforma.
                </p>
            </div>
            <div class="row justify-content-center" style="height: 600px">
                <div class="col-4">
                    <div class="col-sm-6" style="margin: auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">CONOCE A NUESTRAS FUNDADORAS</h5>
                                <p class="card-text">Aquí podrás saber quienes crearon el fantastico bog de
                                    <em>"Belleza web".</em> </p>
                                <a href="/fundadoras" class="btn btn-secondary">Haz clic aquí</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="index">
                        <form th:action="@{/}" th:object="${usuario}" method="post">
                             <div th:if="${error==true}">
                                <div class="alert alert-danger" role="alert">
                                    Usuario ingresado INCORRECTO
                                </div>
                            </div>
                            <h4 class="centrar">INICIAR SESIÓN</h4>
                            <div class="form-group form-usuario">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{email}" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Contraseña</label>
                                <input type="password" class="form-control" th:field="*{password}" maxlength="8" />
                            </div>


                            <button type="submit" class="btn btn-secondary">Iniciar Sesión</button>
                            <a href="CrearUsuario" class="btn btn-secondary">Registrar</a>


                        </form>

                    </div>
                </div>
                <div class="col-4">
                    <div class="col-sm-6" style="margin: auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">¿QUIERES SABER COMO NACIÓ ESTA PÁGINA?</h5>
                                <p class="card-text">Si te interesa un poquito de nuestra historia para por aquí.</p>
                                <a href="/historia" class="btn btn-secondary">Conocer más</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>