<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>TipoServicio</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../CSS/proyecto.css">
</head>

<body>
  <div class="fondo">
    <div class="container-fluid ">

      <div class="encabezado">
        <div class="row justify-content">
          <form class="form-inline ">
            <a class="btn btn-secondary btn-sm ml-auto " href="/principal"> Volver </a>
          </form>

          <div class="col-3">
            <h1 class="centrar"> BEAUTY WEB </h1>
          </div>
          <div class="col-3">
            <img src="../IMG/labioslogo.png" widht="50" height="50">
          </div>


        </div>

      </div>
      <div class="row justify-content-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Nombre</th>
              <th>Id</th>
              <th>Precio</th>
              <th>Descripción</th>
              <th>Contactar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each=" l :${listamanicure}">
              <td scope="row" th:text="${l.getNombre()}"></td>
              <td th:text="${l.getIdTipoServicio()}"></td>
              <td th:text="${l.getPrecio()}"></td>
              <td th:text="${l.getDescripcion()}"></td>
              <td> <a class="btn btn-secondary" th:href="@{'/tipo-servicio/'+${l.idTipoServicio}}"> Ver mas </a></td>
              <!-- 1ra idea: agregar bonotes redirigiendo a una pestaña nueva que contenga los datos del usuario que ofrece el servicio seleccionado-->
              <!-- 2da idea: que aparezcan los emails del usuario que ofrece el servicio -->
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>